.files {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  padding: 80px 60px 50px 50px;
  text-align: center !important;
  margin: auto;
  width: 35% !important;
  background-color: #f7f7f7;
}

.preview {
  padding: 80px 60px 50px 50px;
  margin: auto;
  width: 35% !important;
  background-color: #f7f7f7;
}
